## ğŸ“ˆ ì‹œê³„ì—´ ë°ì´í„° ë¶„ì„ (Part 1)
### 1. ì‹œê³„ì—´ ë°ì´í„°(Time Series Data)ì˜ ì¤‘ìš”ì„±
### ğŸ’¡ ê°œë… (Concept)
> **ì‹œê³„ì—´ ë°ì´í„°**ëŠ” ì¼ì • ì‹œê°„ ê°„ê²©ìœ¼ë¡œ ê¸°ë¡ëœ ë°ì´í„°ì˜ ì—°ì†ì…ë‹ˆë‹¤. ì£¼ê°€, ë‚ ì”¨, ì›¹ì‚¬ì´íŠ¸ íŠ¸ë˜í”½, íŒë§¤ëŸ‰ ë“± ìš°ë¦¬ ì£¼ë³€ì˜ ìˆ˜ë§ì€ ë°ì´í„°ê°€ ì‹œê³„ì—´ ë°ì´í„°ì— í•´ë‹¹í•©ë‹ˆë‹¤.
>
> ì´ëŸ¬í•œ ë°ì´í„°ë¥¼ ì˜¬ë°”ë¥´ê²Œ ë¶„ì„í•˜ê³  ë¯¸ë˜ë¥¼ ì˜ˆì¸¡í•˜ëŠ” ëŠ¥ë ¥ì€ ë¹„ì¦ˆë‹ˆìŠ¤ ì˜ì‚¬ê²°ì •, ë¦¬ì†ŒìŠ¤ ìµœì í™”, ê³¼í•™ì  ì—°êµ¬ ë“± ë‹¤ì–‘í•œ ë¶„ì•¼ì—ì„œ í•µì‹¬ì ì¸ ì—­ëŸ‰ìœ¼ë¡œ ìë¦¬ ì¡ì•˜ìŠµë‹ˆë‹¤.
>
> **Pandas**ëŠ” íŒŒì´ì¬ì—ì„œ ì‹œê³„ì—´ ë°ì´í„°ë¥¼ ë‹¤ë£¨ëŠ” ë° ê°€ì¥ ê°•ë ¥í•˜ê³  í•„ìˆ˜ì ì¸ ë¼ì´ë¸ŒëŸ¬ë¦¬ì…ë‹ˆë‹¤. ë‚ ì§œ/ì‹œê°„ ë°ì´í„°ë¥¼ ì‰½ê²Œ ìƒì„±, ì¡°ì‘, ë¶„ì„í•  ìˆ˜ ìˆëŠ” í’ë¶€í•œ ê¸°ëŠ¥ì„ ì œê³µí•˜ì—¬ ì‹œê³„ì—´ ë¶„ì„ì˜ ì „ ê³¼ì •ì„ íš¨ìœ¨ì ìœ¼ë¡œ ë§Œë“­ë‹ˆë‹¤.

### ğŸ’­ ì´ íŒŒíŠ¸ì—ì„œ ë°°ìš¸ ê²ƒ

> - Pandasë¥¼ ì‚¬ìš©í•˜ì—¬ ë‚ ì§œ ë° ì‹œê°„ ë°ì´í„°ë¥¼ ìƒì„±í•˜ê³  ë³€í™˜í•˜ëŠ” ë°©ë²•
> - ì‹œê³„ì—´ ë°ì´í„°ì˜ ì£¼ê¸°ë¥¼ ë³€ê²½í•˜ê³  ì§‘ê³„í•˜ëŠ” ë¦¬ìƒ˜í”Œë§(Resampling)
> - ì´ë™ í‰ê· (Moving Average)ê³¼ ê°™ì€ ì´ë™ì°½(Window) í•¨ìˆ˜ í™œìš©ë²•
> - ë°ì´í„°ì˜ ì‹œì ì„ ì´ë™ì‹œí‚¤ëŠ” ì‹œí”„íŠ¸(Shift)ì™€ ì°¨ë¶„(Diff)
> - ì‹¤ì œ ë°ì´í„°ë¥¼ í™œìš©í•œ ë¯¸ë‹ˆ í”„ë¡œì íŠ¸ ì‹¤ìŠµ

--- 

## 2. ì‹œê³„ì—´ ë°ì´í„° ìƒì„± ë° ë³€í™˜

### ğŸ’¡ ê°œë… (Concept)

ë¶„ì„ì„ ì‹œì‘í•˜ë ¤ë©´ ë¨¼ì € ë°ì´í„°ë¥¼ 'ì‹œê°„'ì˜ ì†ì„±ì„ ê°€ì§„ ê°ì²´ë¡œ ë§Œë“¤ì–´ì•¼ í•©ë‹ˆë‹¤. PandasëŠ” ë¬¸ìì—´ë¡œ ëœ ë‚ ì§œë¥¼ `datetime` ê°ì²´ë¡œ ë³€í™˜í•˜ê±°ë‚˜, íŠ¹ì • ê¸°ê°„ì˜ ë‚ ì§œë¥¼ ìƒì„±í•˜ëŠ” ë“± ë‹¤ì–‘í•œ ë°©ë²•ì„ ì œê³µí•©ë‹ˆë‹¤.

### `pd.to_datetime`: ë¬¸ìì—´ì„ ë‚ ì§œ ê°ì²´ë¡œ
> í…ìŠ¤íŠ¸ íŒŒì¼ì´ë‚˜ ë°ì´í„°ë² ì´ìŠ¤ì—ì„œ ê°€ì ¸ì˜¨ ë‚ ì§œ ë°ì´í„°ëŠ” ì¢…ì¢… ë¬¸ìì—´(object) íƒ€ì…ì…ë‹ˆë‹¤. `pd.to_datetime` í•¨ìˆ˜ëŠ” ì´ëŸ¬í•œ ë¬¸ìì—´ì„ Pandasê°€ ì¸ì‹í•  ìˆ˜ ìˆëŠ” `datetime` ê°ì²´ë¡œ ë³€í™˜í•˜ì—¬ ì‹œê°„ ê¸°ë°˜ì˜ ê³„ì‚°ê³¼ ë¶„ì„ì„ ê°€ëŠ¥í•˜ê²Œ í•©ë‹ˆë‹¤.

In [11]:
import pandas as pd
import numpy as np
import plotly.express as px

import warnings
warnings.filterwarnings('ignore')

# ì˜ˆì œ ë°ì´í„°í”„ë ˆì„ ìƒì„±
date_strings = ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']
values = [10, 15, 12, 18, 20]
df_str = pd.DataFrame({'date_str': date_strings, 'value': values})

                  date    date_str     value
0  2022-01-01 00:00:00  01/01/2022  0.496714
1  2022-01-02 00:00:00  01/02/2022 -0.138264
2  2022-01-03 00:00:00  01/03/2022  0.647689
3  2022-01-04 00:00:00  01/04/2022  1.523030
4  2022-01-05 00:00:00  01/05/2022 -0.234153

In [12]:

print("--- ë³€í™˜ ì „ --- ")
print(df_str.info())

# 'date_str' ì»¬ëŸ¼ì„ datetime ê°ì²´ë¡œ ë³€í™˜
df_str['date'] = pd.to_datetime(df_str['date_str'])

print("--- ë³€í™˜ í›„ ---")
print(df_str.info())

df_str.head()

--- ë³€í™˜ ì „ ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date_str  5 non-null      object
 1   value     5 non-null      int64
 2   date      5 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 252.0+ bytes
None
--- ë³€í™˜ í›„ ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date_str  5 non-null      object
 1   value     5 non-null      int64
 2   date      5 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 252.0+ bytes
None

     date_str  value       date
0  2023-01-01     10 2023-01-01
1  2023-01-02     15 2023-01-02
2  2023-01-03     12 2023-01-03
3  2023-01-04     18 2023-01-04
4  2023-01-05     20 2023-01-05

### âœï¸ ì—°ìŠµ ë¬¸ì œ (Practice Problems)

1. ë‹¤ìŒì€ ì—¬ëŸ¬ êµ­ê°€ì˜ ë‚ ì§œ í˜•ì‹ì´ ì„ì—¬ìˆëŠ” ë¦¬ìŠ¤íŠ¸ì…ë‹ˆë‹¤. `pd.to_datetime`ì„ ì‚¬ìš©í•˜ì—¬ ëª¨ë‘ í‘œì¤€ `datetime` ê°ì²´ë¡œ ë³€í™˜í•˜ê³ , ë³€í™˜ëœ ë°ì´í„°ì˜ íƒ€ì…ì„ í™•ì¸í•˜ì„¸ìš”.
   - `date_list = ['07-15-2023', '2023/08/20', '2023.09.25']`

In [ ]:
# ì—°ìŠµ ë¬¸ì œ 1ë²ˆ í’€ì´ ê³µê°„
date_list = ['07-15-2023', '2023/08/20', '2023.09.25']
datetime_series = pd.to_datetime(date_list)
print(datetime_series)
print("Data Type:", datetime_series.dtype)

### `pd.date_range`: íŠ¹ì • ê¸°ê°„ì˜ ë‚ ì§œ ìƒì„±
> `pd.date_range` í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ë©´ ì‹œì‘ì¼, ì¢…ë£Œì¼, ê·¸ë¦¬ê³  ë¹ˆë„(frequency)ë¥¼ ì§€ì •í•˜ì—¬ ì†ì‰½ê²Œ ë‚ ì§œ/ì‹œê°„ ì¸ë±ìŠ¤ë¥¼ ë§Œë“¤ ìˆ˜ ìˆìŠµë‹ˆë‹¤. ì´ëŠ” ë°ì´í„°ê°€ ì—†ëŠ” ê¸°ê°„ì„ ì±„ìš°ê±°ë‚˜ ë¶„ì„ì˜ ê¸°ì¤€ì´ ë˜ëŠ” ì‹œê°„ì„ ìƒì„±í•  ë•Œ ë§¤ìš° ìœ ìš©í•©ë‹ˆë‹¤.

| freq ì½”ë“œ | ì„¤ëª… |
|---|---|
| 'D' | ì¼(Day) |
| 'W' | ì£¼(Week) |
| 'M' | ì›”ë§(Month End) |
| 'MS'| ì›”ì´ˆ(Month Start)|
| 'Q' | ë¶„ê¸°ë§(Quarter End) |
| 'A' | ì—°ë§(Year End) |
| 'H' | ì‹œ(Hour) |
| 'T' | ë¶„(Minute) |
| 'S' | ì´ˆ(Second) |

In [ ]:
# 2023ë…„ 1ì›” í•œ ë‹¬ê°„ì˜ ë‚ ì§œ ì¸ë±ìŠ¤ ìƒì„± (ë¹ˆë„: 'D' - ì¼)
dates_2023_jan = pd.date_range(start='2023-01-01', end='2023-01-31', freq='D')
print(dates_2023_jan)

### âœï¸ ì—°ìŠµ ë¬¸ì œ (Practice Problems)

1. `pd.date_range`ë¥¼ ì‚¬ìš©í•˜ì—¬ 2024ë…„ 6ì›”ì˜ ëª¨ë“  í‰ì¼(ì›”-ê¸ˆ) ë‚ ì§œë¥¼ ìƒì„±í•´ë³´ì„¸ìš”. (`freq` ì˜µì…˜ì„ ì°¾ì•„ë³´ì„¸ìš”! íŒíŠ¸: 'Business day')

In [ ]:
# ì—°ìŠµ ë¬¸ì œ 1ë²ˆ í’€ì´ ê³µê°„
weekdays_in_june = pd.date_range(start='2024-06-01', end='2024-06-30', freq='B')
print(weekdays_in_june)

--- 

## 3. ì‹œê³„ì—´ ë°ì´í„° ì¸ë±ì‹±ê³¼ ë¦¬ìƒ˜í”Œë§

### ğŸ’¡ ê°œë… (Concept)

> ì‹œê³„ì—´ ë°ì´í„°ì˜ í•µì‹¬ì€ 'ì‹œê°„'ì„ ê¸°ì¤€ìœ¼ë¡œ ë°ì´í„°ë¥¼ ìë¥´ê³ , ë³€í˜•í•˜ê³ , ì§‘ê³„í•˜ëŠ” ê²ƒì…ë‹ˆë‹¤. ë‚ ì§œë¥¼ ë°ì´í„°í”„ë ˆì„ì˜ ì¸ë±ìŠ¤(index)ë¡œ ì„¤ì •í•˜ë©´ ê°•ë ¥í•œ ì‹œê³„ì—´ ë¶„ì„ ê¸°ëŠ¥ì„ í™œìš©í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. 
> 
> **ë¦¬ìƒ˜í”Œë§(Resampling)** ì€ ì‹œê³„ì—´ ë°ì´í„°ì˜ ì‹œê°„ ë¹ˆë„ë¥¼ ë³€ê²½í•˜ëŠ” ê³¼ì •ì…ë‹ˆë‹¤. 
> 
> ì˜ˆë¥¼ ë“¤ì–´, ì¼ë³„(daily) ë°ì´í„°ë¥¼ ì£¼ë³„(weekly)ì´ë‚˜ ì›”ë³„(monthly) ë°ì´í„°ë¡œ ë³€í™˜í•˜ì—¬ í° íë¦„ì„ ë³´ê±°ë‚˜(ë‹¤ìš´ìƒ˜í”Œë§), ë¶„ ë‹¨ìœ„ ë°ì´í„°ë¥¼ ì´ˆ ë‹¨ìœ„ë¡œ ì„¸ë¶„í™”(ì—…ìƒ˜í”Œë§)í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

### `set_index`ì™€ `resample`: ì‹œê°„ ë‹¨ìœ„ë¡œ ë°ì´í„° ì§‘ê³„í•˜ê¸°
> `set_index`ë¡œ ë‚ ì§œ ì»¬ëŸ¼ì„ ì¸ë±ìŠ¤ë¡œ ì§€ì •í•œ í›„, `resample()` ë©”ì†Œë“œë¥¼ ì‚¬ìš©í•˜ì—¬ ì›í•˜ëŠ” ì‹œê°„ ë‹¨ìœ„ë¡œ ë°ì´í„°ë¥¼ ê·¸ë£¹í™”í•˜ê³ , `.mean()`, `.sum()`, `.last()` ë“±ê³¼ ê°™ì€ ì§‘ê³„ í•¨ìˆ˜ë¥¼ ì ìš©í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [ ]:
# ì‹¤ìŠµì„ ìœ„í•œ ì˜ˆì œ ë°ì´í„° ìƒì„±
date_rng = pd.date_range(start='2023-01-01', periods=100, freq='D')
np.random.seed(42)
data = np.random.randint(50, 200, size=(100,))
ts_df = pd.DataFrame(data, index=date_rng, columns=['sales'])

print("--- ì›ë³¸ ë°ì´í„° (ì¼ë³„ íŒë§¤ëŸ‰) ---")
print(ts_df.head())

# ì£¼ë³„(Weekly) í‰ê·  íŒë§¤ëŸ‰ ê³„ì‚° (ë‹¤ìš´ìƒ˜í”Œë§)
# 'W'ëŠ” ì£¼ì˜ ë§ˆì§€ë§‰ ë‚ (ì¼ìš”ì¼)ì„ ê¸°ì¤€ìœ¼ë¡œ ì§‘ê³„í•©ë‹ˆë‹¤.
weekly_mean_sales = ts_df['sales'].resample('W').mean()

print("--- ì£¼ë³„ í‰ê·  íŒë§¤ëŸ‰ ---")
print(weekly_mean_sales.head())

In [ ]:
# ì›”ë³„(Monthly) ì´ íŒë§¤ëŸ‰ ê³„ì‚° (ë‹¤ìš´ìƒ˜í”Œë§)
# 'MS'ëŠ” ì›”ì˜ ì‹œì‘ì¼(1ì¼)ì„ ê¸°ì¤€ìœ¼ë¡œ ì§‘ê³„í•©ë‹ˆë‹¤.
monthly_sum_sales = ts_df['sales'].resample('MS').sum()

print("--- ì›”ë³„ ì´ íŒë§¤ëŸ‰ ---")
print(monthly_sum_sales.head())

# Plotlyë¥¼ ì‚¬ìš©í•œ ì‹œê°í™”
fig = px.bar(monthly_sum_sales, 
             title='ì›”ë³„ ì´ íŒë§¤ëŸ‰', 
             labels={'value':'ì´ íŒë§¤ëŸ‰', 'index':'ì›”'})
fig.show()

### âœï¸ ì—°ìŠµ ë¬¸ì œ (Practice Problems)

1. ìœ„ì—ì„œ ìƒì„±í•œ `ts_df` ë°ì´í„°ë¥¼ ì‚¬ìš©í•˜ì—¬, **ë¶„ê¸°ë³„(Quarterly) íŒë§¤ëŸ‰ì˜ ìµœëŒ“ê°’**ì„ ê³„ì‚°í•˜ê³  ì¶œë ¥í•´ë³´ì„¸ìš”. (`freq` ì½”ë“œëŠ” 'Q'ë¥¼ ì‚¬ìš©í•©ë‹ˆë‹¤.)

In [ ]:
# ì—°ìŠµ ë¬¸ì œ 1ë²ˆ í’€ì´ ê³µê°„
quarterly_max_sales = ts_df['sales'].resample('Q').max()
print(quarterly_max_sales)

--- 

## 4. ì´ë™ì°½ í•¨ìˆ˜ (Window Functions)

### ğŸ’¡ ê°œë… (Concept)

> ì‹œê³„ì—´ ë°ì´í„°ì˜ ë…¸ì´ì¦ˆ(noise)ë¥¼ ì¤„ì´ê³  ì¥ê¸°ì ì¸ ì¶”ì„¸ë¥¼ íŒŒì•…í•˜ê¸° ìœ„í•´ **ì´ë™ì°½(Window)** í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•©ë‹ˆë‹¤. ì´ëŠ” ì¼ì • í¬ê¸°ì˜ ì°½(window)ì„ ë°ì´í„° ìœ„ì—ì„œ í•œ ì¹¸ì”© ì´ë™ì‹œí‚¤ë©´ì„œ ì°½ ë‚´ë¶€ì˜ ë°ì´í„°ë¡œ í†µê³„ë¥¼ ê³„ì‚°í•˜ëŠ” ë°©ì‹ì…ë‹ˆë‹¤.
> 
> - **`rolling()`**: ê³ ì •ëœ í¬ê¸°ì˜ ì°½ì„ ì‚¬ìš©í•©ë‹ˆë‹¤. ì˜ˆë¥¼ ë“¤ì–´ '7ì¼ ì´ë™ í‰ê· 'ì€ ìµœê·¼ 7ì¼ê°„ì˜ ë°ì´í„° í‰ê· ì„ ê³„ì† ê³„ì‚°í•˜ì—¬ ë°ì´í„°ì˜ ë‹¨ê¸° ë³€ë™ì„±ì„ ì™„í™”í•˜ê³  ì¶”ì„¸ë¥¼ ë¶€ë“œëŸ½ê²Œ ë³´ì—¬ì¤ë‹ˆë‹¤.
> - **`expanding()`**: ì°½ì˜ í¬ê¸°ê°€ ë°ì´í„°ê°€ ì¶”ê°€ë ìˆ˜ë¡ ê³„ì† ì»¤ì§‘ë‹ˆë‹¤. ì‹œì‘ì ë¶€í„° í˜„ì¬ ì§€ì ê¹Œì§€ì˜ ëª¨ë“  ë°ì´í„°ë¥¼ ì‚¬ìš©í•˜ì—¬ ëˆ„ì  í•©ê³„, ëˆ„ì  í‰ê·  ë“±ì„ ê³„ì‚°í•  ë•Œ ì‚¬ìš©ë©ë‹ˆë‹¤.

### `rolling`: ì´ë™ í‰ê· ìœ¼ë¡œ ì¶”ì„¸ íŒŒì•…í•˜ê¸°
> `rolling(window=í¬ê¸°)`ìœ¼ë¡œ ì´ë™ì°½ ê°ì²´ë¥¼ ë§Œë“¤ê³ , `.mean()`, `.std()` ë“± ì§‘ê³„ í•¨ìˆ˜ë¥¼ ì ìš©í•©ë‹ˆë‹¤. `window`ëŠ” ê³„ì‚°ì— í¬í•¨í•  ë°ì´í„°ì˜ ê°œìˆ˜ë¥¼ ì˜ë¯¸í•©ë‹ˆë‹¤.

In [ ]:
# ìœ„ì—ì„œ ì‚¬ìš©í•œ ts_df ë°ì´í„°ë¥¼ ê³„ì† ì‚¬ìš©í•©ë‹ˆë‹¤.

# 7ì¼ ì´ë™ í‰ê·  ê³„ì‚°
ts_df['sales_MA_7'] = ts_df['sales'].rolling(window=7).mean()

# 30ì¼ ì´ë™ í‰ê·  ê³„ì‚°
ts_df['sales_MA_30'] = ts_df['sales'].rolling(window=30).mean()

print(ts_df.head(10)) # ì²˜ìŒ 6ê°œëŠ” NaNê°’ì´ ë‚˜ì˜µë‹ˆë‹¤.

# Plotlyë¥¼ ì‚¬ìš©í•˜ì—¬ ì›ë³¸ ë°ì´í„°ì™€ ì´ë™ í‰ê· ì„  ì‹œê°í™”
fig = px.line(ts_df, y=['sales', 'sales_MA_7', 'sales_MA_30'], title='ì¼ë³„ íŒë§¤ëŸ‰ê³¼ ì´ë™ í‰ê· ')
fig.show()

### `rolling.apply`:
 > `rolling(window=í¬ê¸°)`ë¡œ ì´ë™ì°½ ê°ì²´ë¥¼ ë§Œë“  ë’¤, `.apply(ì‚¬ìš©ìì •ì˜í•¨ìˆ˜)`ë¥¼ ì‚¬ìš©í•˜ë©´ ì°½(window) ë‚´ì˜ ë°ì´í„°ì— ëŒ€í•´ ì§ì ‘ ì •ì˜í•œ í•¨ìˆ˜ë¥¼ ì ìš©í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.
 > ì˜ˆë¥¼ ë“¤ì–´, ì´ë™ì°½ ë‚´ì—ì„œ ì¤‘ì•™ê°’, ìµœëŒ“ê°’, ë˜ëŠ” ë³µì¡í•œ ê³„ì‚°ì„ í•˜ê³  ì‹¶ì„ ë•Œ í™œìš©í•©ë‹ˆë‹¤.

In [ ]:
ts_df['sales_Median_7'] = ts_df['sales'].rolling(window=7).apply(np.median)

### âœï¸ ì—°ìŠµ ë¬¸ì œ (Practice Problems)

1. `ts_df` ë°ì´í„°ì˜ 'sales' ì»¬ëŸ¼ì— ëŒ€í•´ **14ì¼ ì´ë™ í‘œì¤€í¸ì°¨**ë¥¼ ê³„ì‚°í•˜ì—¬ `sales_MV_14` ë¼ëŠ” ìƒˆ ì»¬ëŸ¼ì— ì €ì¥í•˜ê³ , ìƒìœ„ 20ê°œ í–‰ì„ ì¶œë ¥í•´ë³´ì„¸ìš”. (ì´ë™ í‘œì¤€í¸ì°¨ëŠ” ì£¼ê°€ì˜ ë³€ë™ì„±ì„ ë¶„ì„í•˜ëŠ” ë“± ë°ì´í„°ì˜ ì•ˆì •ì„±ì„ ë³¼ ë•Œ ì‚¬ìš©ë©ë‹ˆë‹¤.)

In [ ]:
# ì—°ìŠµ ë¬¸ì œ 1ë²ˆ í’€ì´ ê³µê°„
ts_df['sales_MV_14'] = ts_df['sales'].rolling(window=14).std()
print(ts_df.head(20))

--- 

## 5. ë°ì´í„° ì‹œí”„íŠ¸ì™€ ì°¨ë¶„

### ğŸ’¡ ê°œë… (Concept)

> ì‹œê³„ì—´ ë¶„ì„ì—ì„œëŠ” í˜„ì¬ ì‹œì ì˜ ë°ì´í„°ë¥¼ ê³¼ê±°ì˜ ë°ì´í„°ì™€ ë¹„êµí•˜ëŠ” ì‘ì—…ì´ ë§¤ìš° í”í•©ë‹ˆë‹¤.
> 
> - **`shift()`**: ë°ì´í„°ì˜ ì¸ë±ìŠ¤ëŠ” ê·¸ëŒ€ë¡œ ë‘” ì±„, ê°’ë§Œ íŠ¹ì • ê¸°ê°„ë§Œí¼ ë’¤ë¡œ(ë˜ëŠ” ì•ìœ¼ë¡œ) ë°€ì–´ëƒ…ë‹ˆë‹¤. ì–´ì œ ë°ì´í„°ì™€ ì˜¤ëŠ˜ ë°ì´í„°ë¥¼ ë‚˜ë€íˆ ë†“ê³  ë¹„êµí•˜ê±°ë‚˜, ì‹œê³„ì—´ ì˜ˆì¸¡ ëª¨ë¸ì˜ í”¼ì²˜(feature)ë¥¼ ë§Œë“¤ ë•Œ ì‚¬ìš©ë©ë‹ˆë‹¤.
> - **`diff()`**: í˜„ì¬ ì‹œì ì˜ ë°ì´í„°ì—ì„œ ë°”ë¡œ ì´ì „ ì‹œì ì˜ ë°ì´í„°ë¥¼ ëº€ ê°’(ì°¨ë¶„)ì„ ê³„ì‚°í•©ë‹ˆë‹¤. ë°ì´í„°ì˜ ì¶”ì„¸(trend)ë¥¼ ì œê±°í•˜ê³  ì •ìƒì„±(stationarity)ì„ ê°€ì§„ ë°ì´í„°ë¡œ ë³€í™˜í•˜ê¸° ìœ„í•´ ì‚¬ìš©ë˜ë©°, ë³€í™”ëŸ‰ ìì²´ë¥¼ ë¶„ì„í•  ë•Œ ìœ ìš©í•©ë‹ˆë‹¤.

In [ ]:
# shift() ì˜ˆì œ
# 'sales'ë¥¼ í•œ ì¹¸ ë’¤ë¡œ ë°€ì–´ 'yesterday_sales' ì»¬ëŸ¼ ìƒì„±
ts_df['yesterday_sales'] = ts_df['sales'].shift(1)

# diff() ì˜ˆì œ
# ì–´ì œ ëŒ€ë¹„ ì˜¤ëŠ˜ì˜ íŒë§¤ëŸ‰ ë³€í™” ê³„ì‚°
ts_df['sales_diff'] = ts_df['sales'].diff(1)

print(ts_df[['sales', 'yesterday_sales', 'sales_diff']].head())

# ì¼ë³„ íŒë§¤ëŸ‰ ë³€í™”ëŸ‰ ì‹œê°í™”
fig = px.bar(ts_df, y='sales_diff', title='ì „ì¼ ëŒ€ë¹„ íŒë§¤ëŸ‰ ë³€í™”')
fig.show()

### âœï¸ ì—°ìŠµ ë¬¸ì œ (Practice Problems)

1. `ts_df` ë°ì´í„°ì—ì„œ **ì „ì¼ ëŒ€ë¹„ íŒë§¤ëŸ‰ ì¦ê°ë¥ (%)**ì„ ê³„ì‚°í•˜ì—¬ `sales_growth_rate` ì»¬ëŸ¼ì— ì €ì¥í•˜ê³ , ìƒìœ„ 5ê°œ í–‰ì„ ì¶œë ¥í•˜ì„¸ìš”. 
   (ê³µì‹: `(ì˜¤ëŠ˜ íŒë§¤ëŸ‰ - ì–´ì œ íŒë§¤ëŸ‰) / ì–´ì œ íŒë§¤ëŸ‰ * 100`)

In [ ]:
# ì—°ìŠµ ë¬¸ì œ 1ë²ˆ í’€ì´ ê³µê°„
ts_df['sales_growth_rate'] = (ts_df['sales'].diff(1) / ts_df['sales'].shift(1)) * 100
# ë˜ëŠ”
# ts_df['sales_growth_rate'] = ts_df['sales'].pct_change() * 100

print(ts_df[['sales', 'sales_growth_rate']].head())

## 6. ê¸°íƒ€ ì‹œê³„ì—´ ë¶„ì„ ì§€ì› í•¨ìˆ˜

ìƒ˜í”Œë°ì´í„°ì…‹ ìƒì„±

In [14]:
# ë‚ ì§œ ë²”ìœ„ ìƒì„±
date_rng = pd.date_range(start='2022-01-01', end='2022-12-31', freq='D')

# ë‚ ì§œ ë¬¸ì—´ ë²”ìœ„ ìƒì„±
date_str = date_rng.strftime('%m/%d/%Y').tolist()

# ì˜ˆì‹œ ë°ì´í„° ìƒì„±
np.random.seed(42)  # ì¬í˜„ì„±ì„ ìœ„í•´ ì‹œë“œ ì„¤ì •
data = np.random.randn(len(date_rng))  # ëœë¤ ë°ì´í„° ìƒì„±

# ë°ì´í„°í”„ë ˆì„ ìƒì„±
df = pd.DataFrame([date_rng, date_str], index=['date', 'date_str']).T
df['value'] = data

# ë°ì´í„°í”„ë ˆì„ ì¶œë ¥
print(df.head())

                  date    date_str     value
0  2022-01-01 00:00:00  01/01/2022  0.496714
1  2022-01-02 00:00:00  01/02/2022 -0.138264
2  2022-01-03 00:00:00  01/03/2022  0.647689
3  2022-01-04 00:00:00  01/04/2022  1.523030
4  2022-01-05 00:00:00  01/05/2022 -0.234153

### 1. `timedelta_range`
-  ì¼ì • ê°„ê²©ì˜ ì‹œê°„ ë¸íƒ€ ë²”ìœ„ë¥¼ ìƒì„±

In [15]:
timedelta_range = pd.timedelta_range(start='0 days', end='2 days', freq='2h')
timedelta_range

TimedeltaIndex(['0 days 00:00:00', '0 days 02:00:00', '0 days 04:00:00',
                '0 days 06:00:00', '0 days 08:00:00', '0 days 10:00:00',
                '0 days 12:00:00', '0 days 14:00:00', '0 days 16:00:00',
                '0 days 18:00:00', '0 days 20:00:00', '0 days 22:00:00',
                '1 days 00:00:00', '1 days 02:00:00', '1 days 04:00:00',
                '1 days 06:00:00', '1 days 08:00:00', '1 days 10:00:00',
                '1 days 12:00:00', '1 days 14:00:00', '1 days 16:00:00',
                '1 days 18:00:00', '1 days 20:00:00', '1 days 22:00:00',
                '2 days 00:00:00'],
               dtype='timedelta64[ns]', freq='2h')

### 2. `asfreq`
-  íŠ¹ì • ì£¼ê¸°ë¡œ ì‹œê³„ì—´ ë°ì´í„°ë¥¼ ë°˜í™˜

In [16]:
df.set_index('date').asfreq('W').head(10)

              date_str     value
date
2022-01-02  01/02/2022 -0.138264
2022-01-09  01/09/2022 -0.469474
2022-01-16  01/16/2022 -0.562288
2022-01-23  01/23/2022  0.067528
2022-01-30  01/30/2022 -0.291694
2022-02-06  02/06/2022  0.208864
2022-02-13  02/13/2022 -0.301104
2022-02-20  02/20/2022  0.324084
2022-02-27  02/27/2022 -0.309212
2022-03-06  03/06/2022  0.812526

### 3. `truncate`
-  ì‹œê³„ì—´ ë°ì´í„°ì˜ íŠ¹ì • êµ¬ê°„ì„ ì˜ë¼ì˜¤ê¸°

In [21]:
sdf = df.set_index('date')
cut_df = sdf.truncate(before='2022-01-05', after='2022-01-10')
cut_df

              date_str     value
date
2022-01-05  01/05/2022 -0.234153
2022-01-06  01/06/2022 -0.234137
2022-01-07  01/07/2022  1.579213
2022-01-08  01/08/2022  0.767435
2022-01-09  01/09/2022 -0.469474
2022-01-10  01/10/2022  0.542560

### 10. `period_range`
-  íŠ¹ì • ê¸°ê°„ì˜ ë²”ìœ„ë¥¼ ìƒì„±

In [22]:
sales_data = {
    'period': pd.period_range(start='2020-01', end='2020-12', freq='M'),
    'sales': [1500, 1600, 1700, 1800, 1900, 2000, 2100, 2200, 2300, 2400, 2500, 2600]
}
sales_df = pd.DataFrame(sales_data)
sales_df.set_index('period', inplace=True)
sales_df

         sales
period
2020-01   1500
2020-02   1600
2020-03   1700
2020-04   1800
2020-05   1900
2020-06   2000
2020-07   2100
2020-08   2200
2020-09   2300
2020-10   2400
2020-11   2500
2020-12   2600

### 11. `dt` ì ‘ê·¼ì
-  datetime ì†ì„±ì— ì ‘ê·¼í•  ìˆ˜ ìˆê²Œ í•©ë‹ˆë‹¤.

In [24]:
sdf = df[['date', 'value']]
sdf['date'] = pd.to_datetime(sdf['date'])
sdf['year'] = sdf['date'].dt.year
sdf['month'] = sdf['date'].dt.month
sdf['day'] = sdf['date'].dt.day
sdf['weekday'] = sdf['date'].dt.weekday
sdf[['date', 'year', 'month', 'day', 'weekday']].head(10)

        date  year  month  day  weekday
0 2022-01-01  2022      1    1        5
1 2022-01-02  2022      1    2        6
2 2022-01-03  2022      1    3        0
3 2022-01-04  2022      1    4        1
4 2022-01-05  2022      1    5        2
5 2022-01-06  2022      1    6        3
6 2022-01-07  2022      1    7        4
7 2022-01-08  2022      1    8        5
8 2022-01-09  2022      1    9        6
9 2022-01-10  2022      1   10        0

### 12. `TimeGrouper`
-  ì‹œê³„ì—´ ë°ì´í„°ë¥¼ íŠ¹ì • ì£¼ê¸°ë¡œ ê·¸ë£¹í™”

In [25]:
sdf = df[['date', 'value']].copy()
sdf.date = pd.to_datetime(sdf.date)

In [26]:
sdf.groupby(pd.Grouper(key='date', freq='M')).mean()

               value
date
2022-01-31 -0.201488
2022-02-28 -0.143168
2022-03-31  0.043938
2022-04-30 -0.020252
2022-05-31 -0.083815
2022-06-30  0.291292
2022-07-31  0.098341
2022-08-31 -0.021537
2022-09-30 -0.091070
2022-10-31  0.064996
2022-11-30  0.232571
2022-12-31 -0.053246

### 13. `merge_asof`
-  ê°€ì¥ ê°€ê¹Œìš´ ì‹œê³„ì—´ ë°ì´í„°ë¡œ ë³‘í•©
-  ê²°ì¸¡ì¹˜ ì²˜ë¦¬ì— ìœ ìš©

In [27]:
left = pd.DataFrame({
    'date': pd.to_datetime(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04']),
    'value_left': [10, 20, 30, 40]
})

right = pd.DataFrame({
    'date': pd.to_datetime(['2022-01-02', '2022-01-03', '2022-01-05']),
    'value_right': [15, 25, 35]
})

merged = pd.merge_asof(left, right, on='date')
print(merged)

        date  value_left  value_right
0 2022-01-01          10          NaN
1 2022-01-02          20         15.0
2 2022-01-03          30         25.0
3 2022-01-04          40         25.0

### 14. `expanding`
-  ëˆ„ì  ê³„ì‚°

In [28]:
df['expanding_sum'] = df['value'].expanding().sum()
df['expanding_mean'] = df['value'].expanding().mean()
df[['date', 'value', 'expanding_sum', 'expanding_mean']].head(10)

                  date     value  expanding_sum  expanding_mean
0  2022-01-01 00:00:00  0.496714       0.496714        0.496714
1  2022-01-02 00:00:00 -0.138264       0.358450        0.179225
2  2022-01-03 00:00:00  0.647689       1.006138        0.335379
3  2022-01-04 00:00:00  1.523030       2.529168        0.632292
4  2022-01-05 00:00:00 -0.234153       2.295015        0.459003
5  2022-01-06 00:00:00 -0.234137       2.060878        0.343480
6  2022-01-07 00:00:00  1.579213       3.640091        0.520013
7  2022-01-08 00:00:00  0.767435       4.407525        0.550941
8  2022-01-09 00:00:00 -0.469474       3.938051        0.437561
9  2022-01-10 00:00:00  0.542560       4.480611        0.448061

### 15. `cumsum`
-  ëˆ„ì  í•©ê³„ë¥¼ ê³„ì‚°

In [29]:
df['cumsum'] = df['value'].cumsum()
df[['date', 'value', 'cumsum']].head(10)

                  date     value    cumsum
0  2022-01-01 00:00:00  0.496714  0.496714
1  2022-01-02 00:00:00 -0.138264  0.358450
2  2022-01-03 00:00:00  0.647689  1.006138
3  2022-01-04 00:00:00  1.523030  2.529168
4  2022-01-05 00:00:00 -0.234153  2.295015
5  2022-01-06 00:00:00 -0.234137  2.060878
6  2022-01-07 00:00:00  1.579213  3.640091
7  2022-01-08 00:00:00  0.767435  4.407525
8  2022-01-09 00:00:00 -0.469474  3.938051
9  2022-01-10 00:00:00  0.542560  4.480611

### 16. `pct_change`
- ì´ì „ ê°’ ëŒ€ë¹„ í˜„ì¬ ê°’ì˜ ë³€í™”ìœ¨ì„ ê³„ì‚°í•©ë‹ˆë‹¤.
- ì£¼ë¡œ ê¸ˆìœµ ë°ì´í„°ì—ì„œ ìˆ˜ìµë¥  ê³„ì‚° ë“±ì— ì‚¬ìš©ë©ë‹ˆë‹¤.

In [44]:
df['pct_change'] = df['value'].pct_change()
df[['date', 'value', 'pct_change']].head(10)

                  date     value  pct_change
0  2022-01-01 00:00:00  0.496714         NaN
1  2022-01-02 00:00:00 -0.138264   -1.278358
2  2022-01-03 00:00:00  0.647689   -5.684423
3  2022-01-04 00:00:00  1.523030    1.351485
4  2022-01-05 00:00:00 -0.234153   -1.153742
5  2022-01-06 00:00:00 -0.234137   -0.000070
6  2022-01-07 00:00:00  1.579213   -7.744825
7  2022-01-08 00:00:00  0.767435   -0.514040
8  2022-01-09 00:00:00 -0.469474   -1.611745
9  2022-01-10 00:00:00  0.542560   -2.155675

In [ ]:
# rolling í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ì—¬ pct_change êµ¬í˜„
df['pct_change_rolling'] = df['value'].rolling(window=2).apply(lambda x: (x.iloc[1] - x.iloc[0]) / x.iloc[0] if len(x) == 2 and x.iloc[0] != 0 else None)

### 16. `ewm`
 -  ì§€ìˆ˜ ê°€ì¤‘ ì´ë™ í‰ê· (Exponential Weighted Moving Average, EWMA) ê³„ì‚°

 -  ìµœê·¼ ë°ì´í„°ì— ë” í° ê°€ì¤‘ì¹˜ë¥¼ ë¶€ì—¬í•˜ì—¬ í‰ê· ì„ ê³„ì‚°í•˜ëŠ” ë°©ë²•

In [30]:
df['ewm'] = df['value'].ewm(span=7).mean()
df[['date', 'value', 'ewm']].head(10)

                  date     value       ewm
0  2022-01-01 00:00:00  0.496714  0.496714
1  2022-01-02 00:00:00 -0.138264  0.133869
2  2022-01-03 00:00:00  0.647689  0.356061
3  2022-01-04 00:00:00  1.523030  0.782838
4  2022-01-05 00:00:00 -0.234153  0.449484
5  2022-01-06 00:00:00 -0.234137  0.241575
6  2022-01-07 00:00:00  1.579213  0.627499
7  2022-01-08 00:00:00  0.767435  0.666375
8  2022-01-09 00:00:00 -0.469474  0.359361
9  2022-01-10 00:00:00  0.542560  0.407894

## âœï¸ ì—°ìŠµ ë¬¸ì œ (Practice Problems)

### ë¬¸ì œ 1: ë°ì´í„° ìë¥´ê¸° (`truncate`)
`df` ë°ì´í„°í”„ë ˆì„ì—ì„œ '2022-03-01'ë¶€í„° '2022-03-15'ê¹Œì§€ì˜ ë°ì´í„°ë¥¼ ì˜ë¼ë‚´ì–´ `truncated_df`ì— ì €ì¥í•˜ê³  ì¶œë ¥í•˜ì„¸ìš”.

In [32]:
# ë¬¸ì œ 1 ì‘ì„±ê³µê°„
if 'date' in df.columns:
    temp_df_for_truncate = df.set_index('date')
else:
    temp_df_for_truncate = df.copy() # ì´ë¯¸ ì¸ë±ìŠ¤ê°€ dateì¼ ê²½ìš°ë¥¼ ëŒ€ë¹„

truncated_df = temp_df_for_truncate.truncate(before='2022-03-01', after='2022-03-15')
truncated_df.head()

,date_str,value,expanding_sum,expanding_mean,cumsum,ewm
date,,,,,,
2022-03-01,03/01/2022,0.975545,-9.279281,-0.154655,-9.279281,0.284561
2022-03-02,03/02/2022,-0.479174,-9.758455,-0.159975,-9.758455,0.093627
2022-03-03,03/03/2022,-0.185659,-9.944114,-0.160389,-9.944114,0.023806
2022-03-04,03/04/2022,-1.106335,-11.050449,-0.175404,-11.050449,-0.258729
2022-03-05,03/05/2022,-1.196207,-12.246656,-0.191354,-12.246656,-0.493099

### ë¬¸ì œ 2: ë‚ ì§œ/ì‹œê°„ ì†ì„± ì¶”ì¶œ (`dt` ì ‘ê·¼ì)
`sdf` ë°ì´í„°í”„ë ˆì„ì˜ `date` ì»¬ëŸ¼ì—ì„œ ìš”ì¼ ì´ë¦„(ì˜ˆ: 'ì›”ìš”ì¼', 'í™”ìš”ì¼')ì„ ì¶”ì¶œí•˜ì—¬ `day_name`ì´ë¼ëŠ” ìƒˆ ì»¬ëŸ¼ìœ¼ë¡œ ì¶”ê°€í•˜ê³ , ìƒìœ„ 10ê°œ í–‰ì„ ì¶œë ¥í•˜ì„¸ìš”.

In [33]:
# ë¬¸ì œ 2 í’€ì´
if not pd.api.types.is_datetime64_any_dtype(sdf['date']):
    sdf['date'] = pd.to_datetime(sdf['date'])

sdf['day_name'] = sdf['date'].dt.day_name(locale='ko_KR.UTF-8') # í•œêµ­ì–´ ìš”ì¼ ì´ë¦„
print("\n--- ë¬¸ì œ 2 ê²°ê³¼ (sdfì— day_name ì¶”ê°€) ---")
sdf[['date', 'day_name']].head(10)

--- ë¬¸ì œ 2 ê²°ê³¼ (sdfì— day_name ì¶”ê°€) ---

        date day_name
0 2022-01-01      í† ìš”ì¼
1 2022-01-02      ì¼ìš”ì¼
2 2022-01-03      ì›”ìš”ì¼
3 2022-01-04      í™”ìš”ì¼
4 2022-01-05      ìˆ˜ìš”ì¼
5 2022-01-06      ëª©ìš”ì¼
6 2022-01-07      ê¸ˆìš”ì¼
7 2022-01-08      í† ìš”ì¼
8 2022-01-09      ì¼ìš”ì¼
9 2022-01-10      ì›”ìš”ì¼

### ë¬¸ì œ 3: ì‹œê³„ì—´ ë°ì´í„° ê·¸ë£¹í™” (`TimeGrouper`)
`sdf` ë°ì´í„°í”„ë ˆì„ì˜ `value` ì»¬ëŸ¼ì„ ì£¼(Week) ë‹¨ìœ„ë¡œ ê·¸ë£¹í™”í•˜ì—¬ ê° ì£¼ì˜ í‰ê·  `value`ë¥¼ ê³„ì‚°í•˜ê³  ì¶œë ¥í•˜ì„¸ìš”.

In [39]:
# ë¬¸ì œ 3 í’€ì´
sdf.date = pd.to_datetime(sdf.date)
weekly_mean_value = sdf.groupby(pd.Grouper(key='date', freq='W'))['value'].mean()
weekly_mean_value.head()

date
2022-01-02    0.179225
2022-01-09    0.511372
2022-01-16   -0.620730
2022-01-23   -0.244502
2022-01-30   -0.503691
Freq: W-SUN, Name: value, dtype: float64

### ë¬¸ì œ 4: ëˆ„ì /ì´ë™ ê³„ì‚° (`expanding` ë˜ëŠ” `rolling`)
`sdf` ë°ì´í„°í”„ë ˆì„ì˜ `value` ì»¬ëŸ¼ì— ëŒ€í•´ 7ì¼ ì´ë™ í‰ê· (rolling mean)ì„ ê³„ì‚°í•˜ì—¬ `rolling_mean_7d` ì»¬ëŸ¼ìœ¼ë¡œ ì¶”ê°€í•˜ê³ , ìƒìœ„ 10ê°œ í–‰ì„ ì¶œë ¥í•˜ì„¸ìš”.

In [40]:
# ë¬¸ì œ 4 í’€ì´
sdf['rolling_mean_7d'] = sdf['value'].rolling(window=7).mean()
sdf[['date', 'value', 'rolling_mean_7d']].head(10)

        date     value  rolling_mean_7d
0 2022-01-01  0.496714              NaN
1 2022-01-02 -0.138264              NaN
2 2022-01-03  0.647689              NaN
3 2022-01-04  1.523030              NaN
4 2022-01-05 -0.234153              NaN
5 2022-01-06 -0.234137              NaN
6 2022-01-07  1.579213         0.520013
7 2022-01-08  0.767435         0.558687
8 2022-01-09 -0.469474         0.511372
9 2022-01-10  0.542560         0.496353

### ë¬¸ì œ 5: ì‹œê³„ì—´ ë°ì´í„° ë³‘í•© (`merge_asof`)
ë‹¤ìŒ ë‘ ë°ì´í„°í”„ë ˆì„ì„ `date` ì»¬ëŸ¼ì„ ê¸°ì¤€ìœ¼ë¡œ `merge_asof`ë¥¼ ì‚¬ìš©í•˜ì—¬ ë³‘í•©í•˜ê³  ê²°ê³¼ë¥¼ ì¶œë ¥í•˜ì„¸ìš”.
`direction='nearest'` ì˜µì…˜ì„ ì‚¬ìš©í•˜ì—¬ ê°€ì¥ ê°€ê¹Œìš´ ë‚ ì§œë¡œ ë³‘í•©í•˜ì„¸ìš”.

In [42]:
df_a = pd.DataFrame({
    'date': pd.to_datetime(['2023-01-01', '2023-01-03', '2023-01-05', '2023-01-07']),
    'event_a': ['A1', 'A2', 'A3', 'A4']
})

df_b = pd.DataFrame({
    'date': pd.to_datetime(['2023-01-02', '2023-01-04', '2023-01-06']),
    'value_b': [100, 200, 300]
})

In [43]:
# ë¬¸ì œ 5 í’€ì´
merged_asof_df = pd.merge_asof(df_a, df_b, on='date', direction='nearest')
merged_asof_df

        date event_a  value_b
0 2023-01-01      A1      100
1 2023-01-03      A2      100
2 2023-01-05      A3      200
3 2023-01-07      A4      300

--- 

## 7. âœï¸ ë¯¸ë‹ˆ ì‹¤ìŠµ PJT ê³¼ì œ

### ê°€ìƒ ì£¼ê°€ ë°ì´í„° ë¶„ì„

**ì‹œë‚˜ë¦¬ì˜¤**: ë‹¹ì‹ ì€ ë°ì´í„° ë¶„ì„ê°€ì…ë‹ˆë‹¤. í•œ íšŒì‚¬ì˜ ì•½ 1ë…„ê°„ì˜ ì£¼ê°€ ë°ì´í„°ë¥¼ ë°›ì•„ ë¶„ì„ ë¦¬í¬íŠ¸ë¥¼ ì‘ì„±í•´ì•¼ í•©ë‹ˆë‹¤. Pandas ì‹œê³„ì—´ ê¸°ëŠ¥ì„ í™œìš©í•˜ì—¬ ë°ì´í„°ë¥¼ ë¶„ì„í•˜ê³ , ì£¼ìš” ì¸ì‚¬ì´íŠ¸ë¥¼ ì‹œê°í™”í•˜ì—¬ ë³´ê³ í•˜ì„¸ìš”.

**ë°ì´í„°ì…‹**: ê°€ìƒì˜ ì¼ë³„ ì£¼ê°€ ë°ì´í„° (Open, High, Low, Close, Volume)

**ë¶„ì„ ëª©í‘œ**: 
1. ì›”ë³„ í‰ê·  ì¢…ê°€(Close)ë¥¼ ê³„ì‚°í•˜ê³  ì‹œê°í™”í•˜ì—¬ ì „ë°˜ì ì¸ ì£¼ê°€ ì¶”ì„¸ë¥¼ íŒŒì•…í•©ë‹ˆë‹¤.
2. 20ì¼ ì´ë™ í‰ê· ì„ ê³¼ 60ì¼ ì´ë™ í‰ê· ì„ ì„ ê³„ì‚°í•˜ê³ , ì›ë³¸ ì¢…ê°€ ë°ì´í„°ì™€ í•¨ê»˜ ì‹œê°í™”í•˜ì—¬ ë‹¨ê¸° ë° ì¤‘ê¸° ì¶”ì„¸ë¥¼ ë¶„ì„í•©ë‹ˆë‹¤.
3. ì¼ë³„ ìˆ˜ìµë¥ (daily return)ì„ ê³„ì‚°í•˜ê³ , ë¶„í¬ë¥¼ íˆìŠ¤í† ê·¸ë¨ìœ¼ë¡œ ì‹œê°í™”í•˜ì—¬ ì£¼ê°€ì˜ ë³€ë™ì„±ì„ í™•ì¸í•©ë‹ˆë‹¤.

In [ ]:
# 1. ê°€ìƒ ì£¼ê°€ ë°ì´í„° ìƒì„±
np.random.seed(101)
dates = pd.date_range('2022-01-01', '2022-12-31', freq='B') # Business day
price_changes = np.random.randn(len(dates)).cumsum()
start_price = 100
close_prices = start_price + price_changes

stock_df = pd.DataFrame({'Close': close_prices}, index=dates)
stock_df['Open'] = stock_df['Close'].shift(1) + np.random.uniform(-2, 2, len(stock_df))
stock_df['High'] = stock_df[['Open', 'Close']].max(axis=1) + np.random.uniform(0, 3, len(stock_df))
stock_df['Low'] = stock_df[['Open', 'Close']].min(axis=1) - np.random.uniform(0, 3, len(stock_df))
stock_df['Volume'] = np.random.randint(100000, 500000, len(stock_df))
stock_df = stock_df.dropna()

print("--- ìƒì„±ëœ ì£¼ê°€ ë°ì´í„° ---")
print(stock_df.head())

### **ë¶„ì„ ê³¼ì œ 1: ì›”ë³„ í‰ê·  ì¢…ê°€ ê³„ì‚° ë° ì‹œê°í™”**

ğŸ’¡ HINT : ì›”ë³„ í‰ê·  ì¢…ê°€ë¥¼ ê³„ì‚°í•˜ë ¤ë©´ `resample()` ë©”ì„œë“œë¥¼ ì‚¬ìš©í•˜ì—¬ ë°ì´í„°ë¥¼ ì›”ë³„ë¡œ ì§‘ê³„í•˜ê³ , `mean()`ì„ ì ìš©í•˜ì„¸ìš”. ì‹œê°í™”ëŠ” `plotly.express.line()`ì„ ì‚¬ìš©í•©ë‹ˆë‹¤.

In [ ]:
# ì›”ë³„ í‰ê·  ì¢…ê°€ ê³„ì‚° (ë¦¬ìƒ˜í”Œë§)
monthly_avg_close = stock_df['Close'].resample('MS').mean()

print("--- ì›”ë³„ í‰ê·  ì¢…ê°€ ---")
print(monthly_avg_close)

# ì‹œê°í™”
fig1 = px.line(monthly_avg_close, title='ì›”ë³„ í‰ê·  ì¢…ê°€ ì¶”ì´', markers=True)
fig1.update_traces(name='ì›”í‰ê· ', showlegend=True)
fig1.show()

### **ë¶„ì„ ê³¼ì œ 2: ì´ë™ í‰ê· ì„  ê³„ì‚° ë° ì‹œê°í™”**
ğŸ’¡ HINT : ì´ë™ í‰ê· ì„ ì„ ê³„ì‚°í•˜ë ¤ë©´ `rolling()` ë©”ì„œë“œë¥¼ ì‚¬ìš©í•˜ì—¬ ì´ë™ í‰ê· ì„ ê³„ì‚°í•˜ê³ , `mean()`ì„ ì ìš©í•˜ì„¸ìš”. ì‹œê°í™”ëŠ” `plotly.express.line()`ì„ ì‚¬ìš©í•©ë‹ˆë‹¤.

In [ ]:
# 20ì¼, 60ì¼ ì´ë™ í‰ê·  ê³„ì‚° (ë¡¤ë§)
stock_df['MA20'] = stock_df['Close'].rolling(window=20).mean()
stock_df['MA60'] = stock_df['Close'].rolling(window=60).mean()

# ì‹œê°í™”
fig2 = px.line(stock_df, y=['Close', 'MA20', 'MA60'], title='ì¢…ê°€ ë° ì´ë™ í‰ê· ì„ ')
fig2.show()

### **ë¶„ì„ ê³¼ì œ 3: ì¼ë³„ ìˆ˜ìµë¥  ê³„ì‚° ë° ì‹œê°í™”**
ğŸ’¡ HINT : ì¼ë³„ ìˆ˜ìµë¥ ì€ `pct_change()` ë©”ì„œë“œë¥¼ ì‚¬ìš©í•˜ì—¬ ê³„ì‚°í•˜ê³ , ì‹œê°í™”ëŠ” `plotly.express.histogram()`ì„ ì‚¬ìš©í•©ë‹ˆë‹¤.

In [ ]:
# ì¼ë³„ ìˆ˜ìµë¥ (%) ê³„ì‚° (diff, shift ë˜ëŠ” pct_change)
stock_df['Daily Return'] = stock_df['Close'].pct_change() * 100

print("--- ì¼ë³„ ìˆ˜ìµë¥  ---")
print(stock_df[['Close', 'Daily Return']].head())

# ìˆ˜ìµë¥  ë¶„í¬ ì‹œê°í™”
fig3 = px.histogram(stock_df, x='Daily Return', nbins=50, title='ì¼ë³„ ìˆ˜ìµë¥  ë¶„í¬')
fig3.show()